In [1]:
#imports
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
import numpy as np
from library.sb_utils import save_file

In [2]:
#loading the main dataframe
df = pd.read_csv('C:/Users/Anthony/Springboard/CapstoneTwo/DataCSV/df.csv')
#df.head()

Looks like I forgot to add in an index so I know which row is which. Let's add that now.

In [3]:
#ax = sns.scatterplot(x = 'first_sales', y = 'returning_sales', data = df, hue = 'type')

This chart really doesn't give us a whole lot, except for a basic idea of the shape of our data. We can gather that any point sitting on the x axis is a person who ordered once and never ordered anything else again. Anything above the x axis is a customer who came back to order more. We can see a lot of the green points clustered above x axis, showing a lot of returning order value.

Now I am going to split up my data, now trying to see this relationship through a better lense using a MinMaxScaler.

In [4]:
model = MinMaxScaler()
df['first_sales_scaled'] = model.fit_transform(df[['first_sales']])
df['returning_sales_scaled'] = model.fit_transform(df[['returning_sales']])

In [5]:
X = df[['type', 'first_sales_scaled']]
y = df.returning_sales_scaled

X = pd.get_dummies(X)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = .25, random_state = 246)

In [6]:
X_train

       first_sales_scaled  type_l5  type_nsb  type_sb
11447            0.174603        0         1        0
17331            0.156966        1         0        0
3273             0.227513        0         0        1
13937            0.174603        0         1        0
12952            0.135802        0         1        0
...                   ...      ...       ...      ...
10798            0.292769        0         1        0
2112             0.227513        0         0        1
14569            0.135802        0         1        0
14494            0.115432        0         1        0
19364            0.156966        1         0        0

[15781 rows x 4 columns]

In [7]:
y_train

11447    0.050549
17331    0.000000
3273     0.000000
13937    0.050549
12952    0.000000
           ...
10798    0.081185
2112     0.000000
14569    0.000000
14494    0.049528
19364    0.000000
Name: returning_sales_scaled, Length: 15781, dtype: float64

In [8]:
datapath = 'C:/Users/Anthony/GitHub/Capstone-Two/Models'
save_file(model, 'model.pkl', datapath),

A file already exists with this name.

Do you want to overwrite? (Y/N)y
Writing file.  "C:/Users/Anthony/GitHub/Capstone-Two/Models\model.pkl"

(None,)

In [10]:
datapath = 'C:/Users/Anthony/GitHub/Capstone-Two/Data'
save_file(df, 'df_scaled.csv', datapath)

Writing file.  "C:/Users/Anthony/GitHub/Capstone-Two/Data\df_scaled.csv"